
.main::before {    
    content: "";
    background-image: url('./bg.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.main {
    
}

.main-container {
    /* max-width: 1440px; */
    position: relative;
    margin: 0 auto;
}

.announcements {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #772432;
    border: 1px solid white;
}

@media (max-width: 768px) {
    .announcements {
        flex-direction: column;
    }
    .announcements > img {
        width: 75vw;
        height: 40vh;
        margin: auto !important;
        margin-bottom: 25px !important;
        margin-top: -35px !important;
    }
    .announcements .text {
        margin: auto !important;
        margin-left: 2.5em;
        max-width: 70% !important;
    }
    .left-right-section {
        flex-direction: column;
    }
    .left-right-section .text {
        width: 100% !important; 
    }
    .left-right-section .image {
        width: 100% !important;
    }
    .home-about-social {
        width: 90% !important;
    }
}

.announcements .text {
    padding-top: 5.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 22px;
    line-height: 1.75;
    font-weight: 500;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.announcements > img {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
}

.left-right-section {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 32px;
    border: 1px solid white;
}

.left-right-section .text {
    width: 50%;
    color: white;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a79e70;
}

.left-right-section .image {
    width: 50%;
    display: flex;
}

.left-right-section .image img {
    width: 100%;
}

.text h1, .text h3 {
    margin: 0;
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
    text-align: center;
}

.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    text-align: center;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #772432;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.text .cta:hover {
    padding: 7px 32px;
    background-color: white;
    color: #772432;
}

.chill .text {
    background-color: #eccc79;
}

.chill .text h1 {   
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 8px;
}

.chill .text h3 {
    font-size: 24px;
    line-height: 1.5;
}

section {
    display: flex;
}

.top-bottom-section {
    width: 50%;
    border: 1px solid white;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.top-bottom-section .image {
    width: 100%;
}

.top-bottom-section .image img {
    width: 100%
}

.top-bottom-section .text {
    display: flex;
    flex-direction: column;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bottom-section:first-child .section-container{
    margin-right: 16px;
}

.top-bottom-section:last-child .section-container {
    margin-left: 16px;
}

.top-bottom-section .image {
    display: flex;
}

.top-bottom-section .text {
    /* background-color: #a79e70; */
    /* padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
    color: white;
    flex-grow: 1;
    font-size: 16px; */
}

.top-bottom-section .text h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.top-bottom-section .text h3 {
    font-size: 19px;
    line-height: 1.75;
}

.top-bottom-section {
    display: flex;
    margin-bottom: 32px;
}

.home-about-social {
    /* margin-left: 30%; */
    margin: auto;
    width: 50%;
    text-align: center !important;
    padding-top: 15px;
    padding-bottom: 20px;
    color: white !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: #a79e70!important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #772432;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #772432;
  }
  
  .home-social-icons:hover {
    color: #772432;
    box-shadow: 0 0 5px #772432;
    text-shadow: 0 0 2px #772432;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .homelink {
      text-decoration: none !important;
      color: rgb(240, 227, 227) !important;
  }